<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <interface>
    <{{ iface_type }}>
      <name>{{ iface_name }}</name>
      <duplex xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ethernet"/>
      <speed xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ethernet"/>
    </{{ iface_type }}>
  </interface>
</native>